@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#wrapper {
    min-height: 100vh;
}

#wrapper footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: right;
}

.Sdzae {
    z-index: 900 !important;
}
